<div class="container py-4">
    <p *ngIf="recipes.length==0" class="text-center fs-3 fw-semibold">No favorite Recipes Yet !</p>
    <div class="row">
        <div class="col-12  col-md-6 col-lg-3 mb-4" *ngFor="let recipe of recipes; let i = index ; trackBy: trackByFn">
            <app-recipe-card [title]="recipe.title" [imageUrl]="recipe.imageUrl" [prepTime]="recipe.prepTime"
                [difficulty]="recipe.difficulty" [likes]="recipe.likes" [RecipeId]="recipe.RecipeId">
            </app-recipe-card>
        </div>
    </div>
</div>