<div class="card rounded-5 position-relative">
    <div class="position-absolute top-0 start-0 w-100 d-flex justify-content-between align-items-center p-3">
        <div class="rounded-circle" style="width: 30px; height: 30px;"></div>
        <div class="text-center">
            <i class="fs-4 fa-heart" [ngClass]="{'fa-solid text-danger': isLiked, 'fa-regular text-white': !isLiked}"
                (click)="toggleLike()"></i> <!-- Bind toggleLike method here -->
            <div class="position-absolute top-75 end-0 px-2">
                <p class="text-black bg-light rounded-5 px-2">{{ likes }} Likes</p>
            </div>
        </div>
    </div>
    <img [src]="imageUrl" class="card-img-top recipe-img rounded-5" alt="{{ title }}"
        [routerLink]="['/ingredients', RecipeId]" routerLinkActive="active">
    <div class="card-body position-absolute bottom-0 start-0 end-0 bg-white rounded-5 ">
        <h5 class="card-title text-center text-black">{{ title }}</h5>
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex align-items-center text-black me-3">
                <i class="fas fa-clock fs-5"></i>
                <span class="ms-2">{{ prepTime }}</span>
            </div>
            <div class="vr mx-2" style="height: 20px;"></div>
            <div class="d-flex align-items-center text-black ms-3">
                <i class="fas fa-utensils fs-5"></i>
                <span class="ms-2">{{ difficulty }}</span>
            </div>
        </div>
    </div>
</div>