.btn{
    background-color: #00b96d;
  }

.btnDark{
      background-color: #134631;
}

  
  .section-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .profile-section {
    margin-bottom: 2rem;
  }