.btn{
  background-color: #00b96d;
}

.btnDark{
    background-color: #134631;
}

  
.tabunderline {
  position: relative;
}

.tabunderline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 60px;
  height: 5px;
  background-color: #00b96d;
  border-radius: 5px;
}