<div class="container p-4">
    <div class="row align-items-center">
        <div class="col-auto p-5">
            <div class="profile-avatar d-flex align-items-center justify-content-center p-3">
                <div class="container-fluid ">
                    <img *ngIf="!selectedFileURL" [src]="profilePictureURL" alt="Profile Picture" class="rounded-circle"
                        style="height: 150px">

                    <!-- Display selected image preview if available -->
                    <div *ngIf="selectedFileURL" class="mt-2">
                        <img [src]="selectedFileURL" alt="Selected Image Preview" class="img-fluid rounded-circle "
                            style="max-height: 200px;" />
                    </div>
                    <input *ngIf="startEdit" type="file" (change)="onFileSelected($event)"
                        class="form-control mt-2 ms-2" accept="image/*" />
                </div>
            </div>
        </div>
        <div class="col">
            <div *ngIf="startEdit">
                <input type="text" [(ngModel)]="username" class="form-control mb-2" placeholder="Username" />
                <textarea [(ngModel)]="bio" class="form-control" rows="3" placeholder="Bio"></textarea>
            </div>
            <div *ngIf="!startEdit">
                <h2 class="mb-0">{{ username }}</h2>
                <p class="mt-2"> {{ bio }}</p>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <button class="btn rounded-5 px-5 py-2 text-light" (click)="toggleEdit()">
                    {{ startEdit ? 'Cancel' : 'Edit' }}
                </button>
                <button *ngIf="startEdit" class="btn rounded-5 px-5 py-2 text-light" [disabled]="isLoading"
                    (click)="saveChanges()">
                    <!-- Show loading spinner while request is in progress -->
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span *ngIf="!isLoading">Save</span>
                </button>
            </div>
            <div class="d-flex gap-4 mt-2">
                <span>{{ recipesCount }} Recipes</span>
                <div class="vr mx-2" style="height: 20px;"></div>
                <span>{{ following }} Following</span>
                <div class="vr mx-2" style="height: 20px;"></div>
                <span>{{ followers }} Followers</span>
            </div>
        </div>
    </div>
</div>

<div class="container p-2 border-bottom border-black">
    <ul class="nav d-flex justify-content-evenly ">
        <li class="nav-item">
            <a class="nav-link text-black" [routerLink]="['recipes',user?.id]"
                routerLinkActive="active tabunderline fw-semibold">
                <i class="fas fa-book"></i> Recipes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black" routerLink="favorite" routerLinkActive="active tabunderline fw-semibold">
                <i class="fas fa-heart"></i> Favorite
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black" routerLink="aboutme" routerLinkActive="active tabunderline fw-semibold">
                <i class="fas fa-user"></i> About me
            </a>
        </li>
    </ul>
</div>

<div class="container py-3">
    <router-outlet></router-outlet>
</div>