.register-title {
    font-size: 32px;
    font-weight: 600;
    position: relative;
    display: inline-block;
  }
  
  .register-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 40px;
    height: 4px;
    background-color: #00b96d;
    
  }

  .btn{
    background-color: #00b96d;
  }
  
  .login-prompt {
    font-size: 14px;
    position: relative;
  }
  
  .login-prompt::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 60px;
    height: 4px;
    background-color: #00b96d;
  }
  

.bg-register{
  background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../../../assets/imgs/authbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

::placeholder {
  color: #d3d3d3; /* Light gray color */
  opacity: 1; /* Ensures placeholder color is fully visible */
}
