<div class="container-fluid py-5">
  <div class="row">
    <div class="col">
      <div class="profile-section">
        <div class="d-flex justify-content-between align-items-center">
          <p class="section-title fw-bold">Education</p>
          <button class="btn-add" (click)="toggleEdit()">
            <i class="fa fa-plus p-2 rounded rounded-circle bg-white"></i>
            {{ isEditMode ? 'Cancle Education' : 'Add Education' }}
          </button>
        </div>
        <div>
          <h6 class="mb-0" *ngIf="!isEditMode">{{ Education }}</h6>
          <input *ngIf="isEditMode" [(ngModel)]="Education" class="form-control" />
        </div>
      </div>

      <div class="profile-section">
        <div class="d-flex justify-content-between align-items-center">
          <p class="section-title fw-bold">My Awards</p>
          <button class="btn-add" (click)="toggleEdit()">
            <i class="fa fa-plus p-2 rounded rounded-circle bg-white"></i>
            {{ isEditMode ? 'Cancle Award' : 'Add Award' }}
          </button>
        </div>
        <div>
          <h6 class="mb-0" *ngIf="!isEditMode">{{ Award }}</h6>
          <input *ngIf="isEditMode" [(ngModel)]="Award" class="form-control" />
        </div>
      </div>

      <div *ngIf="isEditMode" class="d-flex justify-content-end mt-3">
        <button class="btn btn-success" (click)="saveChanges()" [disabled]="isLoading">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="!isLoading">Save</span>
        </button>
      </div>
    </div>
  </div>
</div>