<div class="container-fluid">
  <div class="row text-center p-3">
    <div *ngFor=" let chef of chefs" class="col-6 col-sm-4 col-md-3 col-lg-2">
      <div class="d-flex flex-column align-items-center">
        <div class="image-container mb-2">
          <img [src]="chef.imageUrl" class="img-fluid rounded-circle" [alt]="chef.altText" draggable="false"
            [routerLink]=" ['/userprofile', chef.chefId]" routerLinkActive="active" style="height: 190px" />
        </div>
        <p class="fs-4 fw-semibold">{{ chef.altText }}</p>
      </div>
    </div>
  </div>
</div>