<div class="container p-5">
    <div class="d-flex flex-column justify-content-between align-items-center p-5">
        <div class="fw-semibold fs-1 mb-4">
            <p>Million of <span class="recipes-text">recipes</span>
                . Get <br> inspired and start cooking <br> today with us</p>
        </div>

        <button class="btn text-light my-3 px-5 py-2 w-25">
            Login with Email
        </button>

        <button class="btn text-light my-3 px-5 py-2 w-25">
            Login with Google
        </button>
    </div>
</div>