<div class="container-fluid p-5 bg-main">
    <div class="d-flex flex-column justify-content-between align-items-center p-5">
        <div class="fw-semibold fs-1 mb-4 text-light">
            <p>Million of <span class="recipes-text">recipes</span>
                . Get <br> inspired and start cooking <br> today with us</p>
        </div>

        <button class="btn text-light my-3 px-5 py-2 " routerLinkActive="active" routerLink="/login">
            Login with Email
        </button>

        <button class="btn bg-white text-black my-3 px-5 py-2 ">
            <img src="../../../assets/imgs/google.png" alt="Google Logo" class="me-2"
                style="width: 20px; height: 25px;">
            Login with Google
        </button>

        <div class="register-prompt mt-3 fw-semibold text-light">
            <a routerLinkActive="active" routerLink="/register" class="text-light text-decoration-none">Don't have an
                account? </a>
        </div>
    </div>
</div>