<div class="container-fluid py-5">
    <div class="row ">
      <div class="col">
        <div class="profile-section">
            <div class="d-flex justify-content-between align-items-center">
              <p class="section-title fw-bold">Education</p>
              <button class="btn-add">
                <i class="fa fa-plus p-2 rounded rounded-circle bg-white"></i>
                Add Education
              </button>
            </div>
            <div>
              <h6 class="mb-0">Le Cordon Bleu, Paris (Diplôme de Cuisine)</h6>
            </div>
          </div>
          <div class="profile-section">
            <div class="d-flex justify-content-between align-items-center">
              <p class="section-title fw-bold">My Awards</p>
              <button class="btn-add">
                <i class="fa fa-plus p-2 rounded rounded-circle bg-white"></i>
                Add Award
              </button>
            </div>
            <div>
              <h6 class="mb-0">Recipe Developer on the Mister Jiu's in Chinatown Cookbook, James Beard Foundation Award (2022).</h6>
            </div>
          </div>
          <div class="profile-section">
            <div class="d-flex justify-content-between align-items-center">
              <p class="section-title fw-bold">I'm Expert in</p>
              <button class="btn-add">
                <i class="fa fa-plus p-2 rounded rounded-circle bg-white"></i>
                Add Skill
              </button>
            </div>
            <div>
              <h6 class="mb-0">recipe development food styling Chinese and French cuisines</h6>
            </div>
          </div>
      </div>
    </div>
  </div>